#backToTop{
    bottom: 5px;
    position: fixed;
    right: 0;
    width: 50px;
    z-index: 100;
    display: none;
}

#backToTop .bSearch{
    background: url(../img/index/plugins.png) no-repeat;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    margin: 1px 0 0;
    opacity: .9;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 50px;
    background-position: -54px 0;
}

#backToTop .bSearch:hover{
	background-position: 0 0;
	opacity: 1;
}

#backToTop .BTTop{
    background: url(../img/index/plugins.png) -54px -255px no-repeat;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    margin: 1px 0 0;
    opacity: .9;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}

#backToTop .BTTop:hover{
	background-position:0 -255px;
	opacity: 1;
}
